<%
const sensorDataTypeToMesurement = {
    "temperature": "º C",
    "humidity": "% RH"
}
%>
<!DOCTYPE html>
<html lang="en">
<%- include("../Components/_head")%>
<body>
    <%- include('../Components/navabar') %>
    
    <main>
        <div class="site-grid">
            <div class="info-box">
                <div>
                    <p class="label">Name</p>
                    <p class="name"><%= sensor.name %></p>
                </div>
                <div>
                    <p class="label">Type</p>
                    <p class="type"><%= sensor.type || "Not specified" %></p>
                </div>
                <div>
                    <p class="label">ID</p>
                    <p class="id"><%= sensor._id %></p>
                </div>
                <div>
                    <p class="label">Created at</p>
                    <p>
                        <span class="created-at-date"><%= sensor.createdAt.toLocaleDateString("lv-LV", dateFormat) %></span>
                        <span class="created-at-time"><%= sensor.createdAt.toLocaleTimeString("lv-LV", timeFormat) %></span>
                    </p>
                </div>
                <div>
                    <p class="label">Token</p>
                    <p class="token"><%= sensor.token %></p>
                </div>
                <div class="export-actions">
                    <button type="button" id="export_json_button">Export JSON</button>
                    <button type="button" id="export_csv_button">Export CSV</button>
                </div>
            </div>

            <div class="graph-box">
                <% if (data.length > 0) { %><canvas id="sensor_data_line_graph"></canvas><% } else { %><p class="no_data_message">No Data</p><% } %>
            </div>

            <div class="data-table-holder"><% if (data.length > 0) { %>
                <table class="header_table">
                    <thead>
                        <tr>
                            <th class="time_col_label">Time</th>
                            <th class="date_col_label">Date</th>
                            <% data[0].data.forEach(item => { %>
                            <th class="data_col_label">
                                <span class="data_input_name"><%= item.name %></span> <span class="data_type_name"><%= item.type %></span>
                            </th>
                            <% }) %>
                        </tr>
                    </thead>
                </table>
                <div class="data_table_holder">
                    <table>
                        <tbody id="data_table">
                        <% let i = 0; data.forEach(entry => { i++; %>
                            <tr class="index_col">
                                <td class="time_col">
                                    <%= entry.createdAt.toLocaleTimeString("lv-LV", dataTimeFormat) %>
                                </td>

                                <td class="date_col">
                                    <%= entry.createdAt.toLocaleDateString("lv-LV", dataDateFormat) %>
                                </td>
                                
                                <% entry.data.forEach(item => { %>
                                <td class="data_col">
                                    <span class="sensor_data_col"><%= item.value %><%= sensorDataTypeToMesurement[item.type] %></span>
                                </td>
                                <% }) %>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <% } else { %><p class="no_data_message">No Data</p><% } %>
            </div>
        </div>
    </main>
</body>
<%- include("./_page_sensor_info_scripts") %>
</html>